@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@300;400;500;600&display=swap");
body,
p,
span,
a {
    font-family: Roboto, sans-serif;
}
/* Global CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Rubik, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(17, 17, 17);
    display: inline-block;
}
ul li {
    list-style: none;
}
/* button custom CSS */
.btn-primary {
    color: white;
    border: none;
    font-size: 16px;
    position: relative;
    z-index: 1;
    padding: 10px 35px;
    background: rgb(231, 60, 62) !important;
}

.btn-primary::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background: rgb(17, 17, 17);
    border-radius: 5px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.btn-primary:hover::after {
    width: 100%;
}
/* Header CSS */

.HeaderSection .container-fluid {
    max-width: 1480px;
}

.search {
    width: 50px;
    text-align: center;
    border-right: 1px solid black;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 5px;
}

.contact {
    width: 215px;
}

.contactIcon {
    font-size: 35px;
    padding: 0px 10px;
    color: rgb(231, 60, 62);
}

.ContactNumber span {
    display: block;
    color: rgb(96, 96, 96);
}

.ContactNumber a {
    display: block;
    font-weight: 600;
}
/* Header Dropdown */
.customHeader li {
    position: relative;
}
.customHeader li ul {
    position: absolute;
    top: 150%;
    left: 0;
    width: 220px;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: top center;
}
.customHeader li ul li {
    padding: 7px 0;
    font-size: 16px;
    opacity: 1;
    position: relative;
}

.customHeader li a {
    transition: 0.5s;
}
ul li:hover > a {
    color: rgb(231, 60, 62);
    transform: scale(1.1);
}
.customHeader li:hover ul {
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
}
.customHeader li ul li .lastDrop {
    position: absolute;
    left: -110%;
    top: 0;
    width: 190px;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: top center;
    opacity: 0;
    visibility: hidden;
}
.customHeader li ul li:hover .lastDrop {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
/* Banner CSS */

.sliderSection {
    background: url("./Image/main-banner2.jpg") center top / cover no-repeat;
}

.slider-content-wrap {
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-content h6 {
    color: rgb(231, 60, 62);
    font-weight: 400;
}

.slider-content h1 {
    font-size: 65px;
    padding: 15px 0px;
}

.slider-content p {
    font-size: 20px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}
.slider-content a {
    padding: 15px 50px;
}
.slider-buttom {
    position: absolute;
    left: 0;
    bottom: 0;
}
.slider-buttom ul li span {
    position: relative;
    margin-right: 33px;
}
.slider-buttom ul li span::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 88px;
    width: 50%;
    height: 10%;
    background: #000;
}
.slider-buttom ul li a {
    transition: 0.3s;
}
.slider-buttom ul li a:hover {
    color: rgb(231, 60, 62);
}
